
<form>
  <h2 id='nav_contact' class="text-dark display-6"><%= t 'nav.contact'%></h2>
  <%= link_to :twitter, "https://twitter.com/mtggtm2"%>
  <div class="right"><%= link_to :top, '#input' %></div>
</form>
