<h1>Mana Curve Simulator</h1>

<%= render "nav" %>

<form>
  <h2>Usage</h2>
  <ul>
    <li>Export a deck list from the MTGArena client.</li>
    <%= image_tag 'mtgadeck.png' %>
    <li>Paste the deck list into the "Input" text area, and click Submit</li>
    <%= image_tag 'input.png' %>
  </ul>
</form>

