html {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
}
body section {
  max-width: 600px;
  display: flex;
  flex-direction:column;
  align-items: center;
}
nav { 
  padding:0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}
nav div {
  max-width: 600px;
  width: 100%;
}
h2 {
  margin-top: 25px;
  margin-bottom: 25px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  min-width: 150px;
  max-width: 600px;
  width: 90%;
}

.right {
  float: right;
}

.row {
  display: flex;
  flex-direction: row;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  min-width: 100px;
  width: 150px;
  font-size: 0.9rem;
}

form img {
  max-width: 100%;
}

.simulate {
  margin-top: 10px;
}

#deck {
  height: 250px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.paste-deck {
  position:absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  z-index: 5;
}

div.legality {
  justify-content: flex-start;
  width: 100%;
}

div.legality select {
  max-width: 250px;
  height: 100%;
}

div.legality button {
  max-width: 150px;
  
}

div.legality button p {
  margin: 0px;
}
.loader {
  align-items: center;
  background: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  &::after {
    animation: loader 0.5s linear infinite;
    border: 1px solid blue;
    border-radius: 50%;
    border-right: 1px solid rgba(orange, 0.2);
    border-top: 1px solid rgba(orange, 0.2);
    content: "";
    margin-top: 30px;
    height: 70px;
    width: 70px;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
